@charset "utf-8";

@font-face { font-family: 'NEXON Lv1 Gothic OTF'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'NEXON Lv1 Gothic OTF Light'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Light.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'NEXON Lv1 Gothic OTF Bold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff') format('woff'); font-weight: normal; font-style: normal; }

/* 노말라이즈 */

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    color: inherit;
    box-sizing: border-box;
}

/* 라이브러리 */

.con{
    width: 100%;
}

.con-max-width{
    max-width: 1400px;
    width: 100%;
}

.block{
    display: block;
}

.inline-block{
    display: inline-block;
}

.bold{
    font-weight: bold;
}

.light{
    font-weight: light;
}

.flex{
    display: flex;
}

.flex-ai-c{
    align-items: center;
}

.flex-jc-c{
    justify-content: center;
}

.flex-jc-a{
    justify-content: space-around;
}

.flex-jc-b{
    justify-content: space-between;
}

.flex-jc-e{
    justify-content: flex-end;
}

.flex-1-0-0{
    flex: 1 0 0;
}

.img-box{

}

.img-box img{
    width: 100%;
}

.border-red{
    border: 3px solid red;
}

.nexon{
    font-family: 'NEXON Lv1 Gothic OTF', dotum, Arial, sans-serif;
}

.nexon-light{
    font-family: 'NEXON Lv1 Gothic OTF Light', dotum, Arial, sans-serif;
}

.nexon-bold{
    font-family: 'NEXON Lv1 Gothic OTF Bold', dotum, Arial, sans-serif;
}






/* 커스텀 */

html,body{
	overflow-x: hidden;
    font-size: 10px;
    color: #666;
    /* test */
    background-color: beige;
}

a,img{
    display: block;
}


/*  헤더 시작 */

.header-wrap{
    width: 100%;
    height: 100px;
    max-height: 100px;
    overflow: hidden;
    position: fixed;
    transition: height 0.1s, max-height 0.1s;
    z-index: 99;
}

.header-wrap.on{
    height: 170px;
  max-height: 200px;
}

header {
    padding: 0 70px;
    position: relative;
    width: 100%;
    background-color:#fff;
    color: #2e2e2e;
}



header::after{
    display: block;
    content: " ";
    width: 100%;
    height: 70px;
    transition: height 0.5s;
    background-color: #4b89dc;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
}





header > nav.pc{
    width: 100%;
    height: 100px;
}

header > nav.pc > ul.menu > li{
    position: relative;
}


header > nav.pc > ul.menu > li > a{
    padding: 0px 50px;
	font-size: 1.8rem;
	white-space: nowrap;
}

header > nav.pc > div.right-menu > ul{
    margin-right: 20px;
}


header > nav.pc > div.right-menu > ul > li > a{
    font-size: 1.4rem;

	color: rgba(150,150,150);
}

header > nav.pc > div.right-menu > ul > li:first-child::after{
    content: "";
    margin: 0 10px;
    display: block;
    background:  rgba(150,150,150,0.5);
    width: 1px;
    height: 8px;
}

header > nav.pc > div.right-menu > div.apply > a{
	padding: 20px 65px;
	font-size: 2rem;
	font-weight: 900;
	background-color: #4b89dc;
	color: #fff;
	border-radius: 45px;
	white-space: nowrap;
}

header > nav.pc > ul.menu ul.submenu{
    position: absolute;   
    height: 70px;
    z-index: 15;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.6rem;

}

header > nav.pc > ul.menu ul > li > a{
    color: #fff;
    padding: 0px 40px;
    white-space: nowrap;
}

/* 모바일 */

header > nav.mb{
    display: none;
    width: 100%;
    height: 50px;
    position: relative;
}

header > nav.mb > div.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

header > nav.mb > div.logo > a > img{
    width: 88px;
}

header > nav.mb > div.menu-btn{
    width: 50px;
    height: 50px;
    
    padding: 18px 15px;
    cursor: pointer;
}

header > nav.mb > div.menu-btn > .menu-btn-bar-wrap{
    width: 100%;
    height: 100%;
    position: relative;
}

header > nav.mb > div.menu-btn > .menu-btn-bar-wrap > span{
    position: absolute;
    left: 50%;
    top:  0;
  
    transform: translateX(-50%);
    width: 100%;
    height: 2px;
    background-color:#666;
    
}


header > nav.mb > div.menu-btn > .menu-btn-bar-wrap > span:nth-child(2){
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color:#000;
}

header > nav.mb > div.menu-btn > .menu-btn-bar-wrap > span:last-child{
    top: unset;
    bottom: 0;
}

header > nav.mb > div.gnb{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0);
    z-index: 100;
    top: 0;
    left: 0; 
   
    visibility: hidden;
    transition: background-color 0.3s, visibility 0s 0.3s;
}
header > nav.mb > div.gnb.on{
   visibility: visible;
   background-color: rgba(0,0,0,0.65);
   transition: background-color 0.3s, visibility 0.3s 0s;
}

header > nav.mb > div.gnb > div.menu{
    position: absolute;
    top: 0;
    left: -80%;
    width: 80%;
    height: 100%;
    background: #fff;
    transition: left 0.3s;
}

header > nav.mb > div.gnb.on > div.menu{
    left: 0;
}

header > nav.mb > div.gnb > div.menu > div.menu-top{
    width: 100%;
    height: 50px;
    overflow: hidden;
    background-color: #4b89dc;
    padding: 0 20px;
    margin-bottom: 25px;
}

header > nav.mb > div.gnb > div.menu > div.menu-top > div.logo img{
    width: 72px;
}

header > nav.mb > div.gnb > div.menu > div.menu-top > div.close-btn{
    width: 50px;
    height: 50px;
    padding: 13px;
    transform: translateX(13px);
    cursor: pointer;
}
header > nav.mb > div.gnb > div.menu > div.menu-top > div.close-btn > div.close-btn-bar-wrap{
    width: 100%;
    height: 100%;
    
    position: relative;
}

header > nav.mb > div.gnb > div.menu > div.menu-top > div.close-btn span{
    width: 100%;
    height: 1px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

header > nav.mb > div.gnb > div.menu > div.menu-top > div.close-btn span:last-child{
    transform: translateY(-50%) rotate(-45deg);
}

header > nav.mb > div.gnb > div.menu > ul.menu-list > li > a{
    font-size: 1.5rem;
    padding: 15px 0;
    padding-left: 25px;
    font-weight: bold;
}

header > nav.mb > div.gnb > div.menu > ul.menu-list ul.submenu{
    margin-top: 5px;
}
header > nav.mb > div.gnb > div.menu > ul.menu-list ul.submenu > li > a{
    color: #999999;
    font-weight: light;
    font-size: 1.3rem;
    padding: 10px 0;
    padding-left: 25px;
}

/* 헤더 끝 */


/* 미디어 쿼리 */


@media (max-width: 1700px){
 
    header > nav.pc > div.right-menu > div.apply > a{
        padding: 15px 30px;
        font-size: 1.7rem;
    }

}

@media (max-width: 1500px){
    header {
        padding: 0 40px;
    }
}

@media (max-width: 1350px){
 
    header > nav.pc > div.right-menu > div.apply > a{
        padding: 10px 15px;
        font-size: 1.7rem;
    }

    header > nav.pc > ul.menu > li > a{
        padding: 0 24px;
    }

}

@media (max-width: 750px){

    .header-wrap{
        height: 50px;
        max-height: 50px;
    }
    
    .header-wrap.on{
        height: 170px;
      max-height: 200px;
    }
    
    header {
        padding: 0px;        
    }

    header::after{
       display: none;
    }

    header > nav.pc{
        display: none;
    }

    header > nav.mb{
        display: block;
    }

}